html{
}
body{
    text-align: center;
    padding: 50px;
}
p{
    border: thin black solid;
    padding: 30px;
}
.primeiro{
    /*border-width: thin;
    border-color: red;
    border-style: solid;*/
    padding: 20px;
}
.segundo{
    padding: 20px;
}
.terceiro{
    padding: 20px;
}

#titulo{
    text-align: center;
    border-width: thin;
    border-color: black;
    border-style: solid;
    color: darkblue;
    background-color: palevioletred;
}
#subtitulo{
    border-width: thin;
    border-color: black;
    border-style: solid;
    color:black;
    background-color: palevioletred;
}
p.final-pagina#contato{
    border:thin black dashed;
    background-color: #CCC;
    padding: 12px;
    text-align: center;
}